<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension
         point="org.eclipse.ui.views">
      <category
            id="com.agritrace.edairy.desktop.install"
            name="Installation Category">
      </category>
      <view
            allowMultiple="true"
            category="com.agritrace.edairy.desktop.install"
            class="com.agritrace.edairy.desktop.install.views.SampleView"
            icon="icons/sample.gif"
            id="com.agritrace.edairy.desktop.install.views.SampleView"
            name="Import Wizards">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="com.agritrace.edairy.desktop.install"
            name="name">
      </perspective>
   </extension -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.agritrace.edairy.desktop.install.commands.category"
            id="com.agritrace.edairy.desktop.install.commands.importEmployees"
            name="Import Employee Data">
      </command>
      <command
            categoryId="com.agritrace.edairy.desktop.install.commands.category"
            id="com.agritrace.edairy.desktop.install.commands.importVehicles"
            name="Import Vehicle Data">
      </command>
      <command
            categoryId="com.agritrace.edairy.desktop.install.commands.category"
            id="com.agritrace.edairy.desktop.install.commands.importRouteData"
            name="Import Route Data">
      </command>
      <command
            categoryId="com.agritrace.edairy.desktop.install.commands.category"
            id="com.agritrace.edairy.desktop.install.commands.importMembers"
            name="Import Member Data">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.agritrace.edairy.desktop.install.handlers.ImportMembersHandler"
            commandId="com.agritrace.edairy.desktop.install.commands.importMembers">
      </handler>
      <handler
            class="com.agritrace.edairy.desktop.install.handlers.ImportRoutesHandler"
            commandId="com.agritrace.edairy.desktop.install.commands.importRouteData">
      </handler>
      <handler
            class="com.agritrace.edairy.desktop.install.handlers.ImportEmployeesHandler"
            commandId="com.agritrace.edairy.desktop.install.commands.importEmployees">
      </handler>
      <handler
            class="com.agritrace.edairy.desktop.install.handlers.ImportVehiclesHandler"
            commandId="com.agritrace.edairy.desktop.install.commands.importVehicles">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.agritrace.edairy.desktop.install.menus.installMenu"
               label="Setup"
               mnemonic="I">
            <command
                  commandId="com.agritrace.edairy.desktop.install.commands.importRouteData"
                  label="Import Routes"
                  mnemonic="R"
                  style="push">
            </command>
            <command
                  commandId="com.agritrace.edairy.desktop.install.commands.importEmployees"
                  label="Import Employees"
                  mnemonic="E"
                  style="push">
            </command>
            <command
                  commandId="com.agritrace.edairy.desktop.install.commands.importVehicles"
                  label="Import Vehicles"
                  style="push">
            </command>
            <command
                  commandId="com.agritrace.edairy.desktop.install.commands.importMembers"
                  label="Import Members"
                  mnemonic="M"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.agritrace.edairy.desktop.internal.experimental.install.install.importWizards.sampleCategory"
            name="Sample File Import">
      </category>
      <wizard
            category="com.agritrace.edairy.desktop.internal.experimental.install.install.importWizards.sampleCategory"
            class="com.agritrace.edairy.desktop.internal.experimental.install.install.importWizards.ImportWizard"
            icon="icons/sample.gif"
            id="com.agritrace.edairy.desktop.internal.experimental.install.install.importWizards.ImportWizard"
            name="Import File">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>

</plugin>
