<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.agritrace.edairy/model/core/"
            class="edairy.core.CorePackage"
            genModel="model/edairy.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="core"
            class="edairy.core.util.CoreResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.agritrace.edairy/model/tracking/"
            class="edairy.tracking.TrackingPackage"
            genModel="model/edairy.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="tracking"
            class="edairy.tracking.util.TrackingResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.agritrace.edairy/model/dairy/"
            class="edairy.dairy.DairyPackage"
            genModel="model/edairy.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="dairy"
            class="edairy.dairy.util.DairyResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.agritrace.edairy/model/dairy/managers"
            class="edairy.managers.ManagersPackage"
            genModel="model/edairy.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="managers"
            class="edairy.managers.util.ManagersResourceFactoryImpl"/>
   </extension>

</plugin>
