<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.home.views.DairyHomeView"
            id="desktop.home.view"
            name="eDairy Dashboard"
            restorable="true">
      </view>
   </extension>

	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
			 id="com.agritrace.edairy.desktop.home"
			name="Home">
		</perspective>

	</extension>
</plugin>
