<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.deliveries.ui.views.DeliveryView"
            id="milk.delivery.entry"
            name="Milk Delivery Entry"
            restorable="true">
      </view>
      <view
            class="com.agritrace.edairy.desktop.deliveries.ui.views.DeliveryView"
            id="milk.delivery.entry"
            name="Milk Delivery Entry"
            restorable="true">
      </view>
   </extension>

</plugin>
