<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="edairy-developer">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.emf.query.feature.group" version="1.4.0.v20100428-2315-218Z7w311A142A1142"/>
<unit id="org.eclipse.pde.junit.runtime.addon.feature.group" version="1.0.0.v20100831"/>
<repository location="http://download.eclipse.org/releases/helios/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.apache.commons.logging.feature.group" version="1.1.1.201005082216"/>
<unit id="org.apache.log4j.feature.group" version="1.2.16.201005082216"/>
<unit id="org.dom4j.feature.group" version="1.6.1.201005082216"/>
<unit id="org.hibernate.feature.group" version="3.3.2.201005082216"/>
<unit id="org.hsqldb.feature.group" version="1.8.1.201005082216"/>
<unit id="javax.persistence.feature.group" version="1.99.0.201005082216"/>
<unit id="com.mysql.jdbc.feature.group" version="5.1.11.201005082216"/>
<repository location="http://www.elver.org/eclipse/update"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.6.1.M20100909-0800"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.6"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.birt.osgi.runtime.sdk.feature.group" version="2.6.1.v20100617a-57B185wFfAqPz0Ef8mBsMkG-0hfS"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.6.1.r361_v20100827-9OArFLdFjY-ThSQXmKvKz0_T"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.6.1.v20100914-1218"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.6.1.r361_v20100903-7H7R07v8rtOZyYbv1I6aZgou5z07"/>
<unit id="org.eclipse.riena.build.feature.sdk.feature.group" version="2.0.0.v20100615_2_0_0"/>
<unit id="org.eclipse.emf.teneo.hibernate.sdk.feature.group" version="1.1.2.v201006151458"/>
<repository location="http://download.eclipse.org/releases/helios/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.datatools.connectivity.feature.feature.group" version="1.8.1.v20100618-7C7b8hEt1ZvtiLkdlO7BVoL_wm6"/>
<unit id="org.eclipse.datatools.enablement.feature.feature.group" version="1.8.1.v20100618-7J8x7FBWwUL6z-2z-fcrYC2s55KI"/>
<unit id="org.eclipse.datatools.enablement.hsqldb.feature.feature.group" version="1.8.1.v20100618-67C1AqGBJVKbHlH1GU7QBR"/>
<unit id="org.eclipse.datatools.enablement.jdbc.feature.feature.group" version="1.8.1.v20100618-4-29oB56N5N7L6PAQ"/>
<unit id="org.eclipse.datatools.enablement.mysql.feature.feature.group" version="1.8.1.v20100618-546AkF78Y7R9PAX77"/>
<unit id="org.eclipse.datatools.enablement.oda.feature.feature.group" version="1.8.1.v20100618-7A7T78DZRDKDDdFyFiKD"/>
<repository location="http://download.eclipse.org/releases/helios/"/>
</location>
</locations>
</target>
