<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="eDairy Manager Preferences"
            class="com.agritrace.edairy.desktop.preferences.EDairyPreferencePage"
            id="com.agritrace.edairy.desktop.preferences.EDairyPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.agritrace.edairy.desktop.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="edairy_desktop_application"
         name="eDairy Desktop"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.agritrace.edairy.desktop.app.EDMApplication">
         </run>
      </application>
   </extension>
	<extension point="org.eclipse.ui.perspectives">
	   <perspective
	         class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
	         id="subapplication.main"
	         name="subapplication.main">
	   </perspective>
	</extension>
	
   <extension
         point="org.eclipse.riena.ui.swt.imagePaths">
      <path path="resources" />
      <path path="icons" />
   </extension>

	<extension point="org.eclipse.riena.navigation.assemblies">		
	   <assembly
	         id="com.agritrace.edairy.desktop.navigation.assembly"
	         autostartsequence="100"
	         parentTypeId="application">
	      	<!-- create subapplication -->
	      	<subapplication 
	           	 label="Reports"
	           	 typeId="subapplication.main"
	        	 view="subapplication.main">
	    	  </subapplication>
	   	</assembly>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="true"
          class="com.agritrace.edairy.desktop.modules.dairy.DairyProfileView"
          id="com.agritrace.edairy.desktop.modules.dairy.DairyProfileView"
          name="Dairy Profile"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          class="com.agritrace.edairy.desktop.modules.dairy.DairyProfileView"
          id="com.agritrace.edairy.desktop.modules.dairy.DairyProfileView"
          name="Dairy Profile"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          category="com.agritrace.edairy.desktop"
          class="com.agritrace.edairy.desktop.modules.dairy.DairyProfileView"
          id="com.agritrace.edairy.desktop.modules.dairy.DairyProfileView"
          name="Dairy Profile"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          class="com.agritrace.edairy.desktop.modules.dairy.DairyProfileView"
          id="com.agritrace.edairy.desktop.modules.dairy.DairyProfileView"
          name="Dairy Profile"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          class="com.agritrace.edairy.desktop.modules.dairy.DairyProfileView"
          id="com.agritrace.edairy.desktop.modules.dairy.DairyProfileView"
          name="name"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          class="com.agritrace.edairy.desktop.modules.dairy.DairyProfileView"
          id="com.agritrace.edairy.desktop.modules.dairy.DairyProfileView"
          name="name"
          restorable="true">
    </view>
 </extension>
 <extension
       id="edairy_desktop"
       point="org.eclipse.core.runtime.products">
    <product
          application="com.agritrace.edairy.desktop.edairy_desktop_application"
          name="edairy_desktop">
       <property
             name="appName"
             value="edairy_desktop">
       </property>
    </product>
 </extension>
 <extension
       point="org.eclipse.ui.splashHandlers">
    <splashHandler
          class="com.agritrace.edairy.desktop.splashHandlers.InteractiveSplashHandler"
          id="com.agritrace.edairy.desktop.splashHandlers.interactive">
    </splashHandler>
    <splashHandlerProductBinding
          productId="com.agritrace.edairy.desktop.edairy_desktop"
          splashId="com.agritrace.edairy.desktop.splashHandlers.interactive">
    </splashHandlerProductBinding>
 </extension>

</plugin>
