<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>
   <extension
         id="dairy_manager_prod"
         point="org.eclipse.core.runtime.products">
      <product
            id="com.agritrace.edairy.desktop.dairy_manager_prod"
            application="com.agritrace.edairy.desktop.dairy_manager_app"
            name="eDairy Manager Destop">
         <property
               name="appName"
               value="eDairy Manager Destop">
         </property>
         <property
               name="aboutImage"
               value="resources/edairy_helpabout.png">
         </property>
         <property
               name="aboutText"
               value="eDairy Manager v0.1a">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/com.agritrace.edairy.desktop.icons/icons/application.png">
         </property>
         <property name="startupProgressRect" value="7,300,285,15"/>
         <property name="startupMessageRect" value="305,300,200,15"/>
      </product>
   </extension>
   <extension
         id="dairy_manager_app"
         name="Dairy Manager"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.agritrace.edairy.desktop.ui.EDairyManagerApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.agritrace.edairy.desktop.splashHandlers.ExtensibleSplashHandler"
            id="com.agritrace.edairy.desktop.splashHandlers.extensible">
      </splashHandler>
      <splashHandler
            class="com.agritrace.edairy.desktop.splashHandlers.InteractiveSplashHandler"
            id="com.agritrace.edairy.desktop.splashHandlers.interactive">
      </splashHandler>
      <splashHandler
            class="com.agritrace.edairy.desktop.splashHandlers.ExtensibleSplashHandler"
            id="com.agritrace.edairy.desktop.splashHandlers.browser">
      </splashHandler>
      <splashHandler
            class="com.agritrace.edairy.desktop.splashHandlers.EdairySplashHandler"
            id="com.agritrace.edairy.desktop.splashHandlers.edairy">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.agritrace.edairy.desktop.dairy_manager_prod"
            splashId="com.agritrace.edairy.desktop.splashHandlers.edairy">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.riena.navigation.assemblies2">
      <!-- assembly2
            assembler="com.agritrace.edairy.desktop.collection.ui.navigation.MilkNavigationNodeAssembler"
            id="com.agritrace.edairy.desktop.milk"
            parentNodeId="application">
      </assembly2 -->
      <assembly2
            assembler="com.agritrace.edairy.desktop.finance.ui.navigation.FinanceNavigationNodeAssembler"
            id="com.agritrace.edairy.desktop.finance"
            parentNodeId="application">
      </assembly2>
      <assembly2
            assembler="com.agritrace.edairy.desktop.install.navigation.InstallNavigationNodeAssembler"
            id="com.agritrace.edairy.desktop.install"
            parentNodeId="application">
      </assembly2>
   </extension>
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
			 id="com.agritrace.edairy.desktop.home"
			name="Home">
		</perspective>
		<perspective
			class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
			 id="com.agritrace.edairy.desktop.milk"
			name="Milk">
		</perspective>
		<perspective
			class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
			 id="com.agritrace.edairy.desktop.members"
			name="Members">
		</perspective>
		<perspective
			class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
			 id="com.agritrace.edairy.desktop.finance"
			name="Finance">
		</perspective>
		<perspective
			class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
			 id="com.agritrace.edairy.desktop.animalhealth"
			name="Veterinary">
		</perspective>
		<perspective
			class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
			 id="com.agritrace.edairy.desktop.operations"
			name="Operations">
		</perspective>
		<perspective
			class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
			 id="com.agritrace.edairy.desktop.reports"
			name="Reports">
		</perspective>
		<perspective
			class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
			 id="com.agritrace.edairy.desktop.system"
			name="System">
		</perspective>
	</extension>
	<extension point="org.eclipse.ui.views">
		<view allowMultiple="true"
			class="com.agritrace.edairy.desktop.common.ui.views.BlankView" id="default.blank.view"
			name="Blank" restorable="true">
		</view>
		<view allowMultiple="true"
			class="com.agritrace.edairy.desktop.ui.views.MilkProductionReportView"
			id="reports.milk.production" name="Milk Production Report"
			restorable="true">
		</view>

		<view allowMultiple="true"
			class="com.agritrace.edairy.desktop.ui.views.MemberPayablesReportView"
			id="com.agritrace.edairy.desktop.ui.views.MemberPayablesReportView" name="Member Payables Report"
			restorable="true">
		</view>
		<view allowMultiple="true"
			class="com.agritrace.edairy.desktop.ui.views.MemberStatementReportView"
			id="com.agritrace.edairy.desktop.ui.views.MemberStatementReportView" name="Member Statement Report"
			restorable="true">
		</view>
	</extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.riena.demo.client.exitCommand"
            name="Exit">
      </command>
      <command
            id="com.agritrace.edairy.desktop.aboutCommand"
            name="About">
      </command>
    </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.riena.navigation.ui.exit"
                  id="org.eclipse.riena.demo.client.exitMenuItem"
                  mnemonic="x">
            </command>
         </menu>
         <!--
         <menu
               label="Preferences"
               mnemonic="P">
            <menu
                  label="Look &apos;n&apos; Feel"
                  mnemonic="L">
               <command
                     commandId="org.eclipse.riena.example.client.rienaDefaultLnfCommand"
                     id="org.eclipse.riena.example.client.rienaDefaultLnfMenuItem"
                     mnemonic="D">
               </command>
               <command
                     commandId="org.eclipse.riena.example.client.exampleLnfCommand"
                     id="org.eclipse.riena.example.client.exampleLnfMenuItem"
                     mnemonic="x">
               </command>
            </menu>
         </menu>
         -->
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=com.agritrace.edairy.desktop.install.menus.installMenu">
         <menu
               id="helpMenu"
               label="Help"
               mnemonic="H">
            <command
                  commandId="com.agritrace.edairy.desktop.aboutCommand"
                  id="com.agritrace.edairy.desktop.aboutMenuItem"
                  mnemonic="x">
            </command>
         </menu>
      </menuContribution>
   </extension>

	<extension point="org.eclipse.riena.ui.swt.imagePaths">
		<path path="resources" />
		<path path="icons" />
	</extension>

 <extension
       point="org.eclipse.riena.ui.swt.lnfMarkerSupport">
    <markerSupport
          class="org.eclipse.riena.ui.ridgets.swt.BorderMarkerSupport"
          id="com.agritrace.edairy.desktop.markerSupport">
    </markerSupport>
 </extension>
 
</plugin>
