<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension
         point="org.eclipse.ui.views">
      <category
            id="com.agritrace.edairy.desktop.install"
            name="Installation Category">
      </category>
      <view
            allowMultiple="true"
            category="com.agritrace.edairy.desktop.install"
            class="com.agritrace.edairy.desktop.install.views.SampleView"
            icon="icons/sample.gif"
            id="com.agritrace.edairy.desktop.install.views.SampleView"
            name="Import Wizards">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            id="com.agritrace.edairy.desktop.install"
            name="name">
      </perspective>
   </extension -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.agritrace.edairy.desktop.install.commands.category"
            name="eDairy Installation Helpers">
      </category>
      <command
            categoryId="com.agritrace.edairy.desktop.install.commands.category"
            id="com.agritrace.edairy.desktop.install.commands.importEmployees"
            name="Import Employee Data">
      </command>
      <command
            categoryId="com.agritrace.edairy.desktop.install.commands.category"
            id="com.agritrace.edairy.desktop.install.commands.importVehicles"
            name="Import Vehicle Data">
      </command>
      <command
            categoryId="com.agritrace.edairy.desktop.install.commands.category"
            id="com.agritrace.edairy.desktop.install.commands.importCollectionCenterData"
            name="Import Collection Center Data">
      </command>
      <command
            categoryId="com.agritrace.edairy.desktop.install.commands.category"
            id="com.agritrace.edairy.desktop.install.commands.importMembers"
            name="Import Member Data">
      </command>
      <command
            categoryId="com.agritrace.edairy.desktop.install.commands.category"
            id="com.agritrace.edairy.desktop.install.commands.importTransactions"
            name="Import Member Account Data">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.agritrace.edairy.desktop.install.handlers.ImportMembersHandler"
            commandId="com.agritrace.edairy.desktop.install.commands.importMembers">
      </handler>
      <handler
            class="com.agritrace.edairy.desktop.install.handlers.ImportCollectionCentersHandler"
            commandId="com.agritrace.edairy.desktop.install.commands.importCollectionCenterData">
      </handler>
      <handler
            class="com.agritrace.edairy.desktop.install.handlers.ImportEmployeesHandler"
            commandId="com.agritrace.edairy.desktop.install.commands.importEmployees">
      </handler>
      <handler
            class="com.agritrace.edairy.desktop.install.handlers.ImportVehiclesHandler"
            commandId="com.agritrace.edairy.desktop.install.commands.importVehicles">
      </handler>
      <handler
            class="com.agritrace.edairy.desktop.install.handlers.ImportMemberTransactionHandler"
            commandId="com.agritrace.edairy.desktop.install.commands.importTransactions">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.agritrace.edairy.desktop.install.menus.installMenu"
               label="Setup"
               mnemonic="I">
            <command
                  commandId="com.agritrace.edairy.desktop.install.commands.importCollectionCenterData"
                  label="Import Collection Centers"
                  mnemonic="C"
                  style="push">
            </command>
            <command
                  commandId="com.agritrace.edairy.desktop.install.commands.importEmployees"
                  label="Import Employees"
                  mnemonic="E"
                  style="push">
            </command>
            <command
                  commandId="com.agritrace.edairy.desktop.install.commands.importVehicles"
                  label="Import Vehicles"
                  style="push">
            </command>
            <command
                  commandId="com.agritrace.edairy.desktop.install.commands.importMembers"
                  label="Import Members"
                  mnemonic="M"
                  style="push">
            </command>
            <command
                  commandId="com.agritrace.edairy.desktop.install.commands.importTransactions"
                  label="Import Member Account Data"
                  mnemonic="T"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=com.agritrace.edairy.desktop.install.menus.installMenu">
         <menu
               id="helpMenu"
               label="Help"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="com.agritrace.edairy.desktop.aboutMenuItem">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.riena.navigation.assemblies2">
      <assembly2
            assembler="com.agritrace.edairy.desktop.install.navigation.InstallNavigationNodeAssembler"
            id="com.agritrace.edairy.desktop.install"
            parentNodeId="application">
      </assembly2>
   </extension>

</plugin>
