<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            icon="icons/edairymanagericon16.png"
            id="com.agritrace.edairy.manager.perspective"
            name="com.agritrace.edairy.manager.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Dairy Info"
            allowMultiple="false"
            icon="icons/edairymanagericon16.png"
            class="com.agritrace.edairy.demo.riena.views.FacilityInfoView"
            id="com.agritrace.edairy.demo.riena.views.FacilityInfoView">
      </view>
      <view
            name="Demo Dairy Home"
            allowMultiple="false"
            icon="icons/edairymanagericon16.png"
            class="com.agritrace.edairy.demo.riena.views.DairyHomeView"
            id="com.agritrace.edairy.demo.riena.views.DairyHomeView">
      </view>
      <view
            allowMultiple="false"
            class="com.agritrace.edairy.demo.riena.views.StaffInfoView"
            id="com.agritrace.edairy.demo.riena.views.StaffInfoView"
            name="StaffInfoView">
      </view>
      <view
            allowMultiple="false"
            class="com.agritrace.edairy.demo.riena.views.MembersInfoView"
            id="com.agritrace.edairy.demo.riena.views.MembersInfoView"
            name="MemebersInfo">
      </view>
      <view
            allowMultiple="false"
            class="com.agritrace.edairy.demo.riena.views.VeterinaryRequestView"
            id="com.agritrace.edairy.demo.riena.views.VeterinaryRequestView"
            name="VeterinaryRequestView">
      </view>
      <view
            allowMultiple="false"
            class="com.agritrace.edairy.demo.riena.views.InseminationRequestView"
            id="com.agritrace.edairy.demo.riena.views.InseminationRequestView"
            name="InseminationRequestView">
      </view>
      <view
            allowMultiple="false"
            class="com.agritrace.edairy.demo.riena.views.ServiceRequestLogView"
            id="com.agritrace.edairy.demo.riena.views.ServiceRequestLogView"
            name="ServiceRequestLogView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.agritrace.edairy.demo.riena.views.LocalDairyView"
            id="com.agritrace.edairy.demo.riena.views.LocalDairyView"
            name="LocalDairyView"
            restorable="true">
      </view>
       <view
            allowMultiple="false"
            class="com.agritrace.edairy.demo.riena.views.MilkCollectionView"
            id="com.agritrace.edairy.demo.riena.views.MilkCollectionView"
            name="MilkCollectionInfoView">
      </view>
          <view
            allowMultiple="false"
            class="com.agritrace.edairy.demo.riena.views.DeliveryView"
            id="com.agritrace.edairy.demo.riena.views.DeliveryView"
            name="DeliveryView">
        </view>
        <view
            allowMultiple="false"
            class="com.agritrace.edairy.demo.riena.views.CreditJournalView"
            id="com.agritrace.edairy.demo.riena.views.CreditJournalView"
            name="CreditJournalViews">
        </view>
         <view
            allowMultiple="false"
            class="com.agritrace.edairy.demo.riena.views.NetworklDairyView"
            id="com.agritrace.edairy.demo.riena.views.NetworklDairyView"
            name="NetworklDairyView">
        </view>
        
        </extension>
   <extension
         point="org.eclipse.riena.ui.swt.imagePaths">
      <path
            path="resources">
      </path>
   </extension>
   <extension
         id="edm2"
         name="ID198"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.agritrace.edairy.demo.riena.EDairyManagerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="edairy_demo_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.agritrace.edairy.demo.riena.edm2"
            name="eDairy Manager">
         <property
               name="appName"
               value="eDairy Manager">
         </property>
         <property
               name="aboutImage"
               value="resources/edairy_splash.png">
         </property>
         <property
               name="windowImages"
               value="icons/edairymanagericon16.png,icons/edairymanagericon32.png,icons/edairymanagericon48.png,icons/edairymanagericon64.png,icons/edairymanagericon128.png">
         </property>
      </product>
   </extension>
</plugin>
