<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
            icon="icons/edairymanagericon16.png"
            id="com.agritrace.edairy.manager.perspective"
            name="com.agritrace.edairy.manager.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Dairy Info"
            allowMultiple="true"
            icon="icons/edairymanagericon16.png"
            class="com.agritrace.edairy.riena.ui.views.DairyProfileView"
            id="com.agritrace.edairy.riena.ui.views.DairyProfileView">
         <description>
            description body text
         </description>
      </view>
      <view
            name="Demo Dairy Home"
            allowMultiple="true"
            icon="icons/edairymanagericon16.png"
            class="com.agritrace.edairy.riena.ui.views.DairyHomeView"
            id="com.agritrace.edairy.riena.ui.views.DairyHomeView">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.riena.ui.views.StaffInfoView"
            id="com.agritrace.edairy.riena.ui.views.StaffInfoView"
            name="StaffInfoView">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.riena.ui.views.MembersInfoView"
            id="com.agritrace.edairy.riena.ui.views.MembersInfoView"
            name="Member Lookup">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.riena.ui.views.VeterinaryRequestView"
            id="com.agritrace.edairy.riena.ui.views.VeterinaryRequestView"
            name="VeterinaryRequestView">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.riena.ui.views.InseminationRequestView"
            id="com.agritrace.edairy.riena.ui.views.InseminationRequestView"
            name="InseminationRequestView">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.riena.ui.views.ServiceRequestLogView"
            id="com.agritrace.edairy.riena.ui.views.ServiceRequestLogView"
            name="ServiceRequestLogView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.riena.ui.views.LocalDairyView"
            id="com.agritrace.edairy.riena.ui.views.LocalDairyView"
            name="LocalDairyView"
            restorable="true">
      </view>
       <view
            allowMultiple="true"
            class="com.agritrace.edairy.riena.ui.views.MilkCollectionJournalView"
            id="com.agritrace.edairy.riena.ui.views.MilkCollectionJournalView"
            name="MilkCollectionJournalView">
      </view>
          <view
            allowMultiple="true"
            class="com.agritrace.edairy.riena.ui.views.DeliveryView"
            id="com.agritrace.edairy.riena.ui.views.DeliveryView"
            name="DeliveryView">
        </view>
        <view
            allowMultiple="true"
            class="com.agritrace.edairy.riena.ui.views.CreditJournalView"
            id="com.agritrace.edairy.riena.ui.views.CreditJournalView"
            name="CreditJournalViews">
        </view>
         <view
            allowMultiple="true"
            class="com.agritrace.edairy.riena.ui.views.NetworklDairyView"
            id="com.agritrace.edairy.riena.ui.views.NetworklDairyView"
            name="NetworklDairyView">
        </view>
         <view
               allowMultiple="true"
               class="com.agritrace.edairy.riena.ui.views.BlankView"
               id="com.agritrace.edairy.riena.ui.views.BlankView"
               name="Blank"
               restorable="true">
         </view>
         <view
               allowMultiple="true"
               class="com.agritrace.edairy.riena.ui.views.MilkProductionReportView"
               id="com.agritrace.edairy.riena.ui.views.MilkProductionReportView"
               name="Milk Production Report"
               restorable="true">
         </view>
         <view
               allowMultiple="true"
               class="com.agritrace.edairy.riena.ui.views.members.MemberSearchView"
               id="com.agritrace.edairy.riena.ui.views.members.MemberSearchView"
               name="Member Search"
               restorable="true">
         </view>
        
         <view
               allowMultiple="true"
               class="com.agritrace.edairy.riena.ui.views.MemberPayablesReportView"
               id="com.agritrace.edairy.riena.ui.views.MemberPayablesReportView"
               name="Member Payables Report"
               restorable="true">
         </view>
         <view
               allowMultiple="true"
               class="com.agritrace.edairy.riena.ui.views.MonthlyCreditReportView"
               id="com.agritrace.edairy.riena.ui.views.MonthlyCreditReportView"
               name="Monthly Credit Report"
               restorable="true">
         </view>
         <view
               allowMultiple="true"
               class="com.agritrace.edairy.riena.ui.views.MemberStatementReportView"
               id="com.agritrace.edairy.riena.ui.views.MemberStatementReportView"
               name="Member Statement Report"
               restorable="true">
         </view>
         <view
         		allowMultiple="true"
	            name="Dairy Location"
    	        class="com.agritrace.edairy.dairy.ui.views.DairyLocationView"
        	    id="com.agritrace.edairy.dairy.ui.views.DairyLocationView">
      	 </view>
        </extension>
   <extension
         point="org.eclipse.riena.ui.swt.imagePaths">
      <path path="resources" />
      <path path="icons" />
   </extension>
   <extension
         id="dairy_manager"
         name="Dairy Manager"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.agritrace.edairy.riena.ui.EDairyManagerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="edairy_demo_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.agritrace.edairy.demo.riena.dairy_manager"
            name="eDairy Manager Desktop">
         <property
               name="appName"
               value="eDairy Manager Desktop">
         </property>
         <property
               name="aboutImage"
               value="resources/edairy_splash.png">
         </property>
         <property
               name="windowImages"
               value="icons/edairymanagericon16.png,icons/edairymanagericon32.png,icons/edairymanagericon48.png,icons/edairymanagericon64.png,icons/edairymanagericon128.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="edairy_manager"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.agritrace.edairy.riena.ui.dairy_manager"
            name="eDairy Manager">
         <property
               name="windowImages"
               value="/com.agritrace.edairy.riena.ui/icons/cow16.png,/com.agritrace.edairy.riena.ui/icons/cow32.png,/com.agritrace.edairy.riena.ui/icons/cow48.png,/com.agritrace.edairy.riena.ui/icons/cow64.png,/com.agritrace.edairy.riena.ui/icons/cow128.png">
         </property>
         <property
               name="aboutText"
               value="eDairy Manager v0.1a">
         </property>
         <property
               name="aboutImage"
               value="/com.agritrace.edairy.riena.ui/resources/edairy_helpabout.png">
         </property>
         <property
               name="appName"
               value="eDairy Manager">
         </property>
      </product>
   </extension>
   <extension
         id="newId"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.agritrace.edairy.riena.ui.EDairyManagerApplication">
         </run>
      </application>
   </extension>
</plugin>
