<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.operations.ui.views.SupplierDirectoryView"
            id="edairy.operations.supplier.directory"
            name="Supplier List"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.operations.ui.views.CustomerDirectoryView"
            id="edairy.operations.customer.directory"
            name="Customer Directory"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.operations.ui.views.RouteDirectoryView"
            id="edairy.operations.route.directory"
            name="Route List"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.operations.ui.views.EmployeeDirectoryView"
            id="edairy.operations.employee.directory"
            name="Employee Directory"
            restorable="true">
      </view>
   </extension>

</plugin>
