<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.collection.ui.views.MilkCollectionJournalView"
            id="edairy.collection.entry.view"
            name="Milk Collection Entry"
            restorable="true">
      </view>
   </extension>

</plugin>
