<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.collection.ui.views.MilkCollectionJournalView"
            id="edairy.collection.entry.view"
            name="Milk Collection Entry"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.collection.ui.views.MilkCollectionLog"
            id="milk-collection-log"
            name="Milk Collection Jounal View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.collection.ui.views.MilkCollectionDetailLog"
            id="milk-collection-detail-log"
            name="Milk Collection Journal Detail View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.collection.ui.views.MilkDeliveryJournalView"
            id="com.agritrace.edairy.desktop.collection.ui.views.MilkDeliveryLogView"
            name="Milk Delivery Log">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.collection.ui.views.ScaleDataImportView"
            id="edairy.scale.import.view"
            name="Scale Data Import "
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.riena.navigation.assemblies2">
         
      <assembly2
            assembler="com.agritrace.edairy.desktop.collection.ui.navigation.MilkNavigationNodeAssembler"
            id="com.agritrace.edairy.desktop.milk"
            parentNodeId="application">
      </assembly2>
      
      <assembly2
            assembler="com.agritrace.edairy.desktop.collection.ui.navigation.JournalDetailNavigationNodeAssembler"
            id="milk.collection.working-journals"
            parentNodeId="edm.milk.collection.log"
            name="Edit Collection Journal Journal Node Assembler">
      </assembly2>
   </extension>

</plugin>
