<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.system.ui.views.RoleDirectoryView"
            id="edairy.system.roles.directory"
            name="Roles"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.system.ui.views.PermissionDirectoryView"
            id="edairy.system.permissions.directory"
            name="Permissions"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.system.ui.views.UserDirectoryView"
            id="edairy.system.users.directory"
            name="Users"
            restorable="true">
      </view>
   </extension>

</plugin>
