<?xml version="1.0"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>
   <extension
         id="dairy_manager_prod"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.agritrace.edairy.desktop.dairy_manager_app"
            name="eDairy Manager Destop">
         <property
               name="appName"
               value="eDairy Manager Destop">
         </property>
         <property
               name="aboutImage"
               value="resources/edairy_helpabout.png">
         </property>
         <property
               name="aboutText"
               value="eDairy Manager v0.99">
         </property>
         <property
               name="windowImages"
               value="resources/edairy_icon.png">
         </property>
         <property
               name="startupProgressRect"
               value="100,270,320,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="dairy_manager_app"
         name="Dairy Manager"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.agritrace.edairy.desktop.ui.EDairyManagerApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.agritrace.edairy.desktop.splashHandlers.EdairySplashHandler"
            id="com.agritrace.edairy.desktop.splashHandlers.edairy">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.agritrace.edairy.desktop.product"
            splashId="com.agritrace.edairy.desktop.splashHandlers.edairy">
      </splashHandlerProductBinding>
      <splashHandlerProductBinding
            productId="com.agritrace.edairy.desktop.dairy_manager_prod"
            splashId="com.agritrace.edairy.desktop.splashHandlers.edairy">
      </splashHandlerProductBinding>
   </extension>

	<extension point="org.eclipse.ui.views">
		<view allowMultiple="true"
			class="com.agritrace.edairy.desktop.common.ui.views.BlankView" id="default.blank.view"
			name="Blank" restorable="true">
		</view>
		
	</extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.ui.help.aboutAction"
            name="About eDairy Manager">
      </command>
      <command
            id="org.eclipse.riena.demo.client.exitCommand"
            name="Exit">
      </command>
    </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.riena.navigation.ui.exit"
                  id="org.eclipse.riena.demo.client.exitMenuItem"
                  mnemonic="x">
            </command>
         </menu>
      </menuContribution>
   </extension>

	<extension point="org.eclipse.riena.ui.swt.imagePaths">
		<path path="resources" />
		<path path="icons" />
	</extension>

 <extension
       point="org.eclipse.riena.ui.swt.lnfMarkerSupport">
    <markerSupport
          class="org.eclipse.riena.ui.ridgets.swt.BorderMarkerSupport"
          id="com.agritrace.edairy.desktop.markerSupport">
    </markerSupport>
 </extension>
  
</plugin>
