<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.agritrace.edairy.desktop.finance.ui"
            class="com.agritrace.edairy.desktop.finance.ui.views.AccountTransactionJournalView"
            icon="icons/member-transactions.gif"
            id="member.account.transaction.journal"
            allowMultiple="true"
            name="Member Transaction Register">
      </view>
      <view
            category="com.agritrace.edairy.desktop.finance.ui"
            class="com.agritrace.edairy.desktop.finance.ui.views.AccountAdjustmentsJournalView"
            icon="icons/adjustment-transactions.gif"
            id="member.account.adjustment.journal"
            allowMultiple="true"
            name="Member Transaction Register">
      </view>
      <view
            category="com.agritrace.edairy.desktop.finance.ui"
            class="com.agritrace.edairy.desktop.finance.ui.views.MilkPriceJournalView"
            id="milk.price.journal"
            icon="icons/milkprice.gif"
            allowMultiple="true"
            name="Milk Price Log">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
