<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.finance.ui.views.CreditJournalView"
            id="edairy.desktop.credit-journal-entry"
            name="Credit Journal Entry"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.finance.ui.views.AccountTransactionListSubModuleView"
            id="dairy.transactions.register"
            name="Transaction Register"
            restorable="true">
      </view>
      <view allowMultiple="true"
            class="com.agritrace.edairy.desktop.finance.ui.controls.TransactionBatchEntrySubModuleView"
            id="transaction.batch-entry.view"
            name="Transaction Batch Entry">
      </view>
      <view allowMultiple="true"
            class="com.agritrace.edairy.desktop.finance.ui.controls.TransactionBatchEntryMDSubModuleView"
            id="transaction.batch-entry.mdview"
            name="Transaction Batch Entry">
      </view>
   </extension>

</plugin>
