<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="NewTarget">
<locations>
<location path="/var/lib/hudson/jobs/edairy_desktop_target_build/lastSuccessful/archive/targetPlatform" type="Directory"/>
</locations>
</target>
