<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.dairy.profile.ui.views.DairyProfileView"
            id="dairy.profile.editor"
            name="Dairy Profile Editor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.dairy.profile.ui.views.DairyProfileView"
            id="com.agritrace.edairy.desktop.dairy.profile.ui.view4"
            name="dairy.profile.editor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.agritrace.edairy.desktop.dairy.profile.ui.views.DairyProfileView"
            id="com.agritrace.edairy.desktop.dairy.profile.ui.view4"
            name="dairy.profile.editor"
            restorable="true">
      </view>
   </extension>

</plugin>
