<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="edairy local">
<locations>
<location id="org.eclipse.equinox.core.sdk" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.equinox.server.jetty" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.riena.build.feature.core.sdk" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.equinox.sdk" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location path="${workspace_loc}/../eclipse-lib/eclipselink-2.1.0.v20100503-r7134/plugins" type="Directory"/>
<location id="org.eclipse.riena.build.feature.samples.sdk" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.equinox.server.servletbridge" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.equinox.executable" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.equinox.p2.discovery.feature" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.equinox.server.core" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.equinox.p2.sdk" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.equinox.server.p2" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.riena.build.feature" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.riena.build.feature.sdk" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.equinox.serverside.sdk" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.equinox.compendium.sdk" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location id="org.eclipse.equinox.server.simple" path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse" type="Feature"/>
<location path="${workspace_loc}/../eclipse-lib/eclipse-modeling-helios-M7-incubation/eclipse/plugins" type="Directory"/>
<location path="/Users/oraclebill/Development/Projects/eclipse-lib/ui-extras" type="Directory"/>
</locations>
</target>
