<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="new_target">
<locations>
<location path="${workspace_loc}/../eclipse-lib/eclipse-modeling-helios-M7-incubation/eclipse/plugins" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.hsqldb.feature.group" version="1.8.1.201005082216"/>
<unit id="org.apache.log4j.feature.group" version="1.2.16.201005082216"/>
<unit id="org.dom4j.feature.group" version="1.6.1.201005082216"/>
<unit id="com.mysql.jdbc.feature.group" version="5.1.11.201005082216"/>
<unit id="org.apache.commons.logging.feature.group" version="1.1.1.201005082216"/>
<unit id="javax.persistence.feature.group" version="1.99.0.201005082216"/>
<unit id="org.hibernate.feature.group" version="3.3.2.201005082216"/>
<repository location="http://www.elver.org/eclipse/update"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.emf.teneo.hibernate.sdk.feature.group" version="1.1.2.v201005192216"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location path="${workspace_loc}/../eclipse-lib/eclipse-3.6M7-delta-pack/eclipse/plugins" type="Directory"/>
<location path="${workspace_loc}/../eclipse-lib/riena-m7-windows-all-in-one/eclipse/plugins" type="Directory"/>
</locations>
</target>
