<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.startup">
     <startup class="com.agritrace.edairy.desktop.birt.Startup"/>
   </extension>
  
   <extension
         point="org.eclipse.riena.navigation.ui.swt.statusLine">
      <contentFactory
            factory="com.agritrace.edairy.desktop.birt.StatusLineContentFactory">
      </contentFactory>
   </extension>
  
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="org.eclipse.riena.navigation.ui.swt.views.SubApplicationView"
			 id="com.agritrace.edairy.desktop.birt.subApplication"
			name="Reports">
		</perspective>
	</extension>
	      
   <extension	
         point="org.eclipse.riena.navigation.assemblies2">
      <assembly2
            id="com.agritrace.edairy.desktop.birt.navigation-assembly"
            name="BIRT Reports Assembly"
            parentNodeId="application">
         <subApplication
               name="BIRT Reports"
               nodeId="com.agritrace.edairy.desktop.birt.subApplication"
               perspectiveId="com.agritrace.edairy.desktop.birt.subApplication">
            <moduleGroup
                  name="Reports Index"
                  nodeId="com.agritrace.edairy.desktop.birt.reportsIndexModuleGroup">
               <module
                     closable="false"
                     name="All Reports"
                     nodeId="com.agritrace.edairy.desktop.birt.indexModule">
                  <subModule
                        controller="com.agritrace.edairy.desktop.birt.viewer.ReportsIndexViewController"
                        expanded="false"
                        name="Standard Reports Index"
                        nodeId="com.agritrace.edairy.desktop.birt.placeHolderModule"
                        selectable="true"
                        sharedView="true"
                        viewId="com.agritrace.edairy.desktop.birt.reportsIndexView"
                        visible="true">
                  </subModule>
               </module>
            </moduleGroup>
            <moduleGroup
                  name="Standard Reports"
                  nodeId="com.agritrace.edairy.desktop.birt.standardReportsModuleGroup">
            </moduleGroup>
            <moduleGroup
                  name="User Reports"
                  nodeId="com.agritrace.edairy.desktop.birt.userReportsModuleGroup">
            </moduleGroup>
         </subApplication>
      </assembly2>
            
   </extension>


	<extension point="org.eclipse.ui.views">
		

		
		
  <view
        allowMultiple="true"
        class="com.agritrace.edairy.desktop.birt.viewer.ReportsIndexView"
        id="com.agritrace.edairy.desktop.birt.reportsIndexView"
        name="Reports Index"
        restorable="true">
  </view>
  <view
        allowMultiple="true"
        class="com.agritrace.edairy.desktop.birt.viewer.GenericReportView"
        id="com.agritrace.edairy.desktop.birt.genericReportViewerView"
        name="Report View"
        restorable="true">
  </view>
		
	</extension>

</plugin>
