<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.member.ui.views.CreateMemberView"
            id="com.agritrace.edairy.desktop.member.ui.views.CreateMemberView"
            name="Create New Member"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.member.ui.views.MemberDirectoryView"
            id="com.agritrace.edairy.desktop.member.ui.views.MemberDirectoryView"
            name="Member Directory"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.member.ui.views.FarmListView"
            id="com.agritrace.edairy.desktop.member.ui.views.FarmListView"
            name="Member Farm Registry"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.member.ui.views.ContainerListView"
            id="com.agritrace.edairy.desktop.member.ui.views.ContainerListView"
            name="Member Container Registry"
            restorable="true">
      </view>
       <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.member.ui.views.LivestockListView"
            id="com.agritrace.edairy.desktop.member.ui.views.LivestockListView"
            name="LiveStock Registry"
            restorable="true">
      </view>
   </extension>
   

</plugin>
