<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.riena.core.startups">
      <startup
            activateSelf="true"
            runClass="com.agritrace.edairy.desktop.internal.common.persistence.Startup">
      </startup>
   </extension>

</plugin>
