<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.member.ui.views.CreateMemberView"
            id="com.agritrace.edairy.desktop.member.ui.views.MemberSearchView"
            name="Member List"
            restorable="true">
      </view>
   </extension>
     <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.member.ui.views.MemberDirectoryView"
            id="com.agritrace.edairy.desktop.member.ui.views.MemberDirectoryView"
            name="Member List"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.member.ui.views.FarmListView"
            id="com.agritrace.edairy.desktop.member.ui.views.FarmListView"
            name="Farm List"
            restorable="true">
      </view>
   </extension>
     <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.agritrace.edairy.desktop.member.ui.views.ContainerListView"
            id="com.agritrace.edairy.desktop.member.ui.views.ContainerListView"
            name="Container List"
            restorable="true">
      </view>
   </extension>
   

</plugin>
